<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<% if @listing.photo.attached? %>
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @listing.photo.variant(resize: '500x500') %>
  </p>
<% end %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>


